.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 100px;
}
h2 {
  font-weight: 400;
}
nav {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav a.book-link {
  color: #fff;
}

.book-link:hover {
  text-decoration: underline;
}
